<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831194834059-dm5c1jea3flitsn4eb0fd60prsh5n33u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831194834059-dm5c1jea3flitsn4eb0fd60prsh5n33u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>831194834059-f7atgup2rskq4ubcg13fvdei40ffs9f5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7KUhUdSTkEER-ZNebyhNL-_aFEWr4xx0</string>
	<key>GCM_SENDER_ID</key>
	<string>831194834059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>ancient-timing-313122</string>
	<key>STORAGE_BUCKET</key>
	<string>ancient-timing-313122.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831194834059:ios:56d02605b48b41afe5608e</string>
</dict>
</plist>